<div class="flex flex-col bg-gray-100 p-4">
  <div class="text-2xl text-center">Create a new Journal</div>
  <form [formGroup]="journalForm" (ngSubmit)="createJournal()">
    <div class="flex items-start flex-col gap-4 m-6 p-2 rounded-xl">
      <div class="flex items-center gap-10 flex-row max-w-fit">
        <label>Name of Journal</label>
        <div class="mt-1 relative rounded-md">
          <input
            type="text"
            formControlName="name"
            required="true"
            placeholder="Journal name"
            class="max-w-fit focus:ring-indigo-500 focus:border-2 focus:border-indigo-500 block p-2 focus:ring-2 sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>

      <div class="flex items-center gap-10 flex-row max-w-fit">
        <label>Owner of Journal</label>

        <input
          formControlName="owner"
          type="text"
          required
          placeholder="owner's name"
          class="max-w-fit focus:ring-indigo-500 focus:border-2 focus:border-indigo-500 block p-2 focus:ring-2 sm:text-sm border-gray-300 rounded-md"
        />
      </div>

      <div class="flex items-center gap-10 flex-row max-w-fit">
        <div>Cover Image for journal</div>
        <input type="file" (change)="onFileSelected($event)" #fileUpload />
      </div>
      <div *ngIf="image">
        <div>Preview:</div>
        <img class="w-1/6" [src]="formatImageUrl()" />
      </div>

      <button
        [disabled]="journalForm.controls['errors']"
        class="border p-2 shadow bg-white rounded-md hover:bg-green-200"
        type="submit"
      >
        Create Journal
      </button>
      <button mat-raised-button>Hi</button>
    </div>
  </form>
</div>
