<div class="text-3xl text-center">Cognitive Behavioral Therapy Journal</div>
<div class="m-10 content-center">
   
<mat-form-field class="w-full rounded-md px-4 py-2 border-2 border-gray-100">
    <mat-label>Thought</mat-label>
    <input
    [(ngModel)]="thought"
    type="text"
    matInput
    placeholder="What is the thought that you are having"
   
    />
</mat-form-field>
<button class="mt-4" mat-raised-button (click)="distortionPatterns = true"> Next</button>
</div>
<div>


<div *ngIf="distortionPatterns">On To Distortion Patterns</div>
<div class="text-center mt-10 m-4 text-5xl text-blue-700 drop-shadow-md font-bold"> 10 cognitive errors</div>
<div class="mx-10 flex gap-8"><div (click)=selectDistortion(pattern.pattern) class="cursor-pointer hover:bg-red-400 basis-1/5 flex-col bg-red-300 text-white p-2 rounded-md drop-shadow-lg" *ngFor="let pattern of patterns"><div class="text-black text-xl text-center p-4 font-bold">{{pattern.pattern}}</div><div [innerHTML]=pattern.description class=" p-2 text-sm">{{pattern.description}}</div></div>
</div>

<div class="text-center mt-10 m-4 text-3xl text-blue-700 drop-shadow-md font-bold">Based on the strategies above, how can you reframe this thought?</div>
<mat-form-field class="w-full rounded-md px-4 py-2 border-2 border-gray-100">
    <mat-label>New Thought</mat-label>
    <input
    [(ngModel)]="newThought"
    type="text"
    matInput
    placeholder="What is the thought that you are having"
   
    />
</mat-form-field>