<div class="flex flex-col">
  <div>
    <label>Name of Journal</label>
    <input [(ngModel)]="name" type="text" />
  </div>

  <div>
    <label>Owner of Journal</label>
    <input [(ngModel)]="owner" type="text" />
  </div>
</div>
<button (click)="createJournal()">Create Journal</button>

<div class="text-xl m-4 text-center bg-green-100 rounded drop-shadow-xl">
  All journals:
</div>
<div class="m-6">
  <button
    (click)="viewJournalEntries(journal.name)"
    *ngFor="let journal of journalList"
  >
    {{ journal.name }} - {{ journal.owner }}
  </button>
</div>
